---
layout: default
title: Tickets
---
{% include header.html %}

<!-- Main -->
		<div class="row 150% normal-page">
			<div class="4u 12u$(medium)">
				<!-- Sidebar -->
				<section id="sidebar" class="sponsors">
					{% include sponsors-sidebar.html %}
				</section>
			</div>
			<div class="8u$ 12u$(medium) important(medium)">

				<article class="post ">
					<header> 
						<div class="title">
							<h1><i class="fas fa-ticket-alt" aria-hidden="true"></i> Tickets</h1>
						</div>
					</header>	
					<img src="/assets/images/virtual_conf_2.jpg" alt="picture of a computer monitor showing the conference platform for virtual attendees">

					<p>This year our conference is 100% virtual - we'll be back running physical events as soon as we can!</p>
					
					<!-- Noscript content for added SEO -->
					<noscript><a href="https://techexeter-conference2021.eventbrite.co.uk" rel="noopener noreferrer" target="_blank"></noscript>
						<!-- You can customise this button any way you like -->
						<button id="eventbrite-widget-modal-trigger-163768484947" type="button">Buy Tickets Now</button>
						<noscript></a>Buy Tickets on Eventbrite</noscript>
						
						<script src="https://www.eventbrite.co.uk/static/widgets/eb_widgets.js"></script>
						
						<script type="text/javascript">
							var exampleCallback = function() {
								console.log('Order complete!');
							};
						
							window.EBWidgets.createWidget({
								widgetType: 'checkout',
								eventId: '163768484947',
								modal: true,
								modalTriggerElementId: 'eventbrite-widget-modal-trigger-163768484947',
								onOrderComplete: exampleCallback
							});
						</script>
					
					<hr/>

					<h3>What's included in the ticket?</h3>
					<ul>
						<li>Access to the 3 track conference stream, broadcasting live from our Exeter studio in Kaleider</li>
						<li>Access to our conference platform to ask questions and chat with speakers and attendees</li>
						<li>Access to all session recordings for 7 days after the event</li>
						<li>Access to our interactive features including networking and our after-party</li>
						<li>Entry into all prize draws</li>
					</ul>
					<p>Still not sure? Why not <a href="https://techexeter.uk/2020/conference-2020-feedback/" target="_blank">check out our testimonials from last year!</a></p>
					

					<p>Having trouble booking? <a href="https://www.eventbrite.co.uk/e/techexeterdigital-exeter-annual-conference-2021-tickets-163768484947" target="_blank">Try going direct to Eventbrite here</a></p>

				</article>
				<p><em>* Image credits: <a href="https://twitter.com/digitelle_blog/status/1303977343325790208/photo/1">Carly Britton</a>, <a href="https://twitter.com/CyberGoGiver/status/1303661528764293121/photo/1">Nicole Whiting</a>, </a><a href="https://twitter.com/benji_herbert/status/1303622672178384896/photo/1">Benjamin Herbert</a></em></p>

			</div>
