---
layout: default
title: Become a sponsor
page_teaser_image: https://conference.techexeter.uk/images/preview_index.jpg
---
{% include header.html %}

<!-- Main -->
		<div class="row 150% normal-page">
			<div class="4u 12u$(medium)">
				<!-- Sidebar -->
				<section id="sidebar" class="sponsors">
					{% include sponsors-sidebar.html %}
				</section>
			</div>
			<div class="8u$ 12u$(medium) important(medium)">

				<article class="post sponsor-page">
					<header> 
						<div class="title">
							<h1><i class="fas fa-ticket-alt" aria-hidden="true"></i> Tickets</h1>
						</div>
					</header>
					<p>Sorry, we're still building this - check back later!</p>
				</article>

			</div>
