---
layout: default
---

<article class="post">
  <p>We want to make this event as accessible to all as possible - this is a hard task for a live event withour tiny CIC budget!</p>
  <ul>
    <li>All pre-recorded content will be captioned in advance</li>
    <li>All content will be immediately available after the event for 7 days, allowing you to catch up if you missed anything</li>
    <li>Live content will have live automatic captions applied where possible, and then will have manual captions added and be uploaded a few days later</li>
  </ul>
</article>

